$white: #fff;
$black: #000;

$yellow: #FFDA1C;
$bg: #DDF7FF;
$primary: #393837;
$phoneIconColor: #6abfa5;

$fairytale: #936FAA;
$art-therapy: #256774;
$school: #47B83E;
$info: #EE8100;

$aboutLine: #f3f3f3;

$testimonialsBg: #F3F4F6;

$footerPromo: #848A8C;

$programsGrey: #EAEAEA;

$inputBg: #f1f1f1;
$inputBorder: #DEDEDE;